<div class="top">
  <div class="top_left">
    <div class="top_main active">
      <mat-icon fontIcon="list"></mat-icon>
      <span> SAVED LISTS </span>
    </div>
    <div class="top_main">
      <mat-icon fontIcon="filter_alt"></mat-icon>
      SAVED FILTERS
    </div>
    <div class="top_main">
      <mat-icon fontIcon="search"></mat-icon>
      SEARCH HISTORY
    </div>
  </div>
  <div class="top_right">
    <input
      #myInput
      type="text"
      placeholder="Search"
      [(ngModel)]="search"
      (ngModelChange)="searchData(myInput)"
    />
  </div>
</div>

<div class="main">
  <table>
    <thead>
      <th class="text-center">Date</th>
      <th class="text-left">List Name</th>
      <th class="text-right">No. of Entities</th>
      <th class="text-left">Actions</th>
      <th></th>
    </thead>

    <tbody>
      <tr *ngFor="let item of dataSource">
        <td class="text-center">
          <ng-container *ngIf="item.date; else elseTemplate">
            {{ item.date }}
          </ng-container>
          <ng-template #elseTemplate>
            <mat-icon fontIcon="circle"></mat-icon>
          </ng-template>
        </td>
        <td class="bold" [ngClass]="getDetailsCount(item.id) !== 0 ? 'black' : ''">{{ item.name }}</td>
        <td class="text-right">{{ getDetailsCount(item.id) }}</td>
        <td>
          <mat-icon class="mail" fontIcon="mail"></mat-icon>
          <mat-icon *ngIf="getDetailsCount(item.id)" class="share" fontIcon="share"></mat-icon>
          <mat-icon *ngIf="getDetailsCount(item.id)" class="edit" fontIcon="edit"></mat-icon>
          <mat-icon
            *ngIf="getDetailsCount(item.id)"
            class="delete"
            fontIcon="delete"
          ></mat-icon>
        </td>
        <td>
          <button class="details" (click)="getDetailsById(item.id)">
            Details
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="description">
    <div class="description_content">
      <span>No description yet</span>
      <a class="darkblue">+Add Description</a>
    </div>
    <div class="description_list">
      <ng-container *ngIf="details.length; else elseTemplate">
        <div class="details_list" *ngFor="let detail of details">
          {{ detail }}
        </div>
      </ng-container>
      <ng-template #elseTemplate> Nothing Here! </ng-template>
    </div>
  </div>
</div>
